<%# <%= render "layouts/signup" %>
<div class="container d-flex flex-column justify-content-center align-items-center">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field mt-2 mb-2">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Full Name" %>
  </div>

  <div class="field mb-2">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
  </div>

  <div class="field mb-2">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "******" %>
  </div>

  <div class="field mb-2">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "******" %>
  </div>

  <div class="actions mb-5">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>