<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class='form-inputs'>
    <div class='div-input'>
      <%= form.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Full Name" %>
    </div>
    <div class='div-input'>
      <%= form.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
    </div>
    <div class='submit-btn'>
      <%= form.submit %>
    </div>
  </div>
<% end %>
