<div class="groups-index">
  <p style="color: green"><%= notice %></p>
  <%= render @user %>
  <div class="group-options-btns">
    <%= link_to "Edit this user", edit_user_path(@user) %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }%>
    <%= button_to "Delete my account", @user, method: :delete %>
  </div>
</div>
