  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="sign-up-header">
    <%= link_to 'Back', root_path, class: 'go-back' %>
    <h2>LOG IN</h2>
    <div class="submit">
      <%= f.submit "Log in" %>
    </div>
  </div>
  <div class="groups-index">
    <div class='form-inputs'>
      <div class="div-input">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="div-input">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="div-input check-box">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
    </div>
  <% end %>
  <h3>Don't you have an account?</h3>
  <%= render "devise/shared/links" %>
</div>
