<div id="<%= dom_id expense %>" class="card flex exp">
  <p class="exp-name">
    <strong><%= expense.name %></strong>
  </p>
  <p class="exp-amount">
    $
    <strong><%= expense.amount %></strong>
  </p>
  <div class="exp-div">
    <%= link_to "✎", edit_group_expense_path(@group, expense) %>
    <% expense.groups.each do |group| %>
      <p class="exp-icon"><%= group.icon %></p>
    <% end %>
  </div>
</div>
