<div class='expense' id="<%= dom_id expense %>">
  <div class="expense-main">
    <p class="expense-title">
      <%= expense.name %>
    </p>
    <p class="group-price">
      <%= number_to_currency(expense.amount) %>
    </p>
  </div>
  <div class="expense-info">
    <p>
      <%= expense.created_at.strftime("%e %b %y") %>
    </p>
    <p>
      <strong>Group:</strong>
      <%= @group.icon %>
    </p>
    <%= link_to "Edit", edit_group_expense_path(@group, expense) %>
  </div>
</div>
