<!DOCTYPE html>
<html>
  <head>
    <title>My Spend Manager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:wght@300;700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>
  <body>
    <% if user_signed_in?%>
      <nav>
        <ul class='navbar'>
          <li>        <%= link_to "Home", root_path%>
          </li>
          <% if @user.groups.exists? %>
            <li>        <%= link_to "Expenses History", group_expenses_path(@user.groups.first.id) %>
            </li>
          <%end%>
          <li>        <%= link_to @user.name, user_path(@user) %>
          </li>
        </ul>
      </nav>
    <%end%>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %> <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
